*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
	background: #f2f2f2;
}
nav{
	background: #1b1b1b;
}
nav::after{
	content: "";
	clear: both;
	display: table;
}
nav .logo{
	float: left;
	color:white;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
}
nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li{
	float: left;
	display: inline-block;
	background: #1b1b1b;
	margin: 0 5px;
}
nav ul li a{
	color:white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
}
nav ul li a:hover{
	color:cyan;
	border-radius: 5px;
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
}
nav ul ul li a:hover{
	color:cyan;
	box-shadow: none;
}
nav ul ul{
	position: absolute;
	top: 90;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}
nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
}
nav ul ul li{
	position: relative;
	margin: 0px;
	width: 150px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
	line-height: 50px;
}
nav ul ul ul li{
	position: relative;
	top: -70px;
	left: 150px;
}
/* akhir navbar*/

h1{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
	margin-right: 70px;
	text-align: justify;
}

img{
	width: 100%
}

.artikel .header{
	margin-right: 70px;
	margin-left: 70px;
	font-size: 28px;
}
.artikel p{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 70px;
	margin-left: 70px;
	text-align: justify;
}
.header{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 70px;
	margin-left: 70px;
	text-align: justify;
}
.artiel h4{
	margin-right: 70px;
	margin-left: 70px;
	font-size: 24px;
}

footer{
	height: 
	width:100%;
	background: #1b1b1b;
	color:white;
	margin-top: 20px;
	padding: 5px;
}
.footer{
	margin: 10px 65px;
	text-align: center;
}
.social a{
	color:white;
	padding:0 1px;
	font-size: 15px;
}
.social a span{
	align-content: center;
}
.social a:hover{
	background: #f12020;
}
